.main {
    position: relative;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
    background: url(../pictures/bg/cops.png) no-repeat;
    background-size: 40%;
    background-position: 95%;
    border: 2px solid black;
  }
  
.c {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    width: 60vw;
    height: 40vw;
 }