body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//IMPORTS
@import 'blocks/Mobile.scss';
@import 'blocks/Main.scss';
@import 'blocks/Nav.scss';

//Loader
@import 'blocks/loader-rainbow.scss';